<!--The content below is only a placeholder and can be replaced.-->
<div>
  <form [formGroup]="form">
    <legend>Simple fields</legend>
    <label>
      <span>Category:</span>
      <input type="text" formControlName="category">
    </label>
    <label>
      <span>Count:</span>
      <input type="number" formControlName="count">
    </label>
    <fieldset formGroupName="name">
      <legend>Sub object:</legend>
        <label>
          <span>First:</span>
          <input type="text" formControlName="first">
        </label>
        <label>
          <span>Last:</span>
          <input type="text" formControlName="last">
        </label>
    </fieldset>
    <fieldset formArrayName="details">
      <legend>Array of sub objects</legend>
      <div *ngFor="let detail of form.get('details').controls; index as i">
        <div [formGroupName]="i" class="subfieldset">
          <label>
            <span>Text:</span>
            <input type="text" formControlName="text">
          </label>
          <label>
            <span>Title:</span>
            <input type="text" formControlName="title">
          </label>
        </div>
      </div>
    </fieldset>
    <fieldset formArrayName="list">
      <legend>Simple List</legend>
      <div *ngFor="let item of form.get('list').controls; index as i">
        <input type="number" [formControlName]="i">
      </div>
    </fieldset>
    <legend>Simple List Using Custom Component</legend>
    <app-simple-list formControlName="list2"></app-simple-list>
  </form>
  <pre>{{form.value | json}}</pre>
</div>
